    <h3>オーナー様 一覧</h3>
    <% i = 0 %>
    <table class="table" id="none-border">
    <% owners.each do |owner| %>
    <td>
    <%= link_to owner_path(owner.id) do %>
    <%= attachment_image_tag driver,:profile_image, fallback: "no_image.jpg", size:'200x160',class: "img_wrap" %><br>
    <%= owner.owner_name %><% end %><br>
    <%= owner.owner_name_kana %><br>
    </td>
    <% i = i + 1 %>
    <% if i % 3 == 0 %>
    <tr></tr>
    <% end %>
    <% end %>
    </table>
    <div class="text-center"><%= paginate owners,class: "paginate" %></div>
    <% if ad_client_signed_in? %>
    <%= link_to "マイページへ戻る", dashboard_ad_client_path(current_ad_client) %>
    <% elsif driver_signed_in?%>
    <%= link_to "トップページに戻る", dashboard_owner_path(current_owner) %>
    <% end %>
