    <div class="row">
    <div class = "col-xs-8">
    <h4>プロフィール情報</h4>
    <%= form_for(@owner) do |f| %>
    <%= attachment_image_tag @owner, :profile_image, fallback: "no_image.jpg",class: "image-circle", size:'230x170'  %><br>
    <%= f.attachment_field :profile_image %><br>

    <table class="table .table-borderless">
    <tr>
    <th><%= f.label :お名前 %></th>
    <td><%= f.text_field :owner_name, class: "form-control form-control-sm" %></td>
    </tr>
    <tr>
    <th><%= f.label :お名前（カナ） %></th>
    <td><%= f.text_field :owner_name_kana, class: "form-control form-control-sm" %></td>
    </tr>
    <tr>
    <th><%= f.label :郵便番号 %></th>
    <td><%= f.text_field :postal_code, class: "form-control form-control-sm" %></td>
    </tr>
    <tr>
    <th><%= f.label :住所 %></th>
    <td><%= f.text_field :address, class: "form-control form-control-sm" %></td>
    </tr>
    <tr>
    <th><%= f.label :電話番号 %></th>
    <td><%= f.text_field :telephone_number, class: "form-control form-control-sm" %></td>
    </tr>
    <tr>
    <th><%= f.label :メールアドレス %></th>
    <td><%= f.text_field :email, class: "form-control form-control-sm" %></td>
    </tr>
    <th><%= f.label :サロン名 %></td>
    <td><%= f.text_field :salon_name, autofocus: true, autocomplete:"",placeholder: "サロン名を入力", class: "form-control" %></td>
    </tr>
    <tr>
    <th><%= f.label :本人確認書類 %></td>
    <td><%= f.file_field :driver_license_image, id:"upload_file" %></td>
    </tr>
    <tr>
    <th></th>
    <td class="text-center"><%= f.submit "更新する",class: "btn btn-primary" %></td>
    </tr>
    <% end %>
    </table>
    </div>
    
    <div class = "col-xs-11">
    <table class="table .table-borderless">
    <tr>
    <th>振込先情報</th>
    <% if  @owner.transfer_informations.present?  %>
    <td><%= link_to "編集する", owner_transfer_informations_path(@owner.id) , class: "btn btn-primary",data: {"turbolinks" => false} %></td>
    <% else %>
    <td><%= link_to "登録する", owner_transfer_informations_path(@owner.id) , class: "btn btn-primary",data: {"turbolinks" => false} %></td>
    <p class="alert">口座情報が登録されていません。</p></td>
    <% end %>
    </tr>
    </table>
    </div>
    <!-- エラーメッセージ表示-->
    <div class="row">
    <% if @owner.errors.any? %>
    <h3><%= @owner.errors.count %>error occurrence</h3><!--エラーメッセ-->
    <ul>
    <% @owner.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
    <% end %>
    </div>
    <!-- エラーメッセージ表示-->
