    <div class="row">

    <div class="col-xs-9">
    <h3>  Follow list</h3>
    <table class="table">
    <thead>
    <tr>
    <th></th>
    <th></th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    <% @followings.each do |ad_client| %>
    <tr>
    <td><%= attachment_image_tag ad_client, :profile_image, :fill, 80, 80, fallback: "no-image-mini.jpg" %></td>
    <td><%= ad_client.company_name %></td>
    <td><%= link_to "Show", ad_client, class: "ad_clients_#{ad_client.id}" %></td>
    </tr>
    <%end %>
    </tbody>
    </table>
    </div>

       <div class="col-xs-2">
    <!-- プロフィール -->
    <% if ad_client_signed_in? %>
    <%= render 'ad_clients/profile', ad_client: current_ad_client %>
    <%= render 'ad_clients/sidebar', ad_client: current_ad_client %>
    <% elsif owner_signed_in?%>
    <%= render 'owners/profile', owner: current_owner %>
    <%= render "owners/sidebar", owner: current_owner %>
    <% end %>
    </div>
    </div>