<div class="row">

<div class="col-xs-9">
<%= render 'owners/index', owners: @owners %>
</div>

<div class="col-xs-2">
<% if ad_client_signed_in? %>
<%= render 'ad_clients/profile' , ad_client: current_ad_client %>
<%= render 'ad_clients/sidebar' , ad_client: current_ad_client %>
<% elsif owner_signed_in?%>
<%= render 'owners/profile' , owner: current_owner %>
<%= render "owners/sidebar", owner: current_owner %>
<% end %>
</div>

</div>
