    <div class="row">
    <div class="col-xs-3">
    <% if ad_client_signed_in? %>
    <%= render 'ad_clients/profile' , ad_client: current_ad_client %>
    <%= render 'ad_clients/sidebar' , ad_client: current_ad_client %>
    <% elsif owner_signed_in?%>
    <%= render 'owners/profile' , owner: current_owner %>
    <%= render "owners/sidebar", owner: current_owner %>
    <% end %>
    </div>
    <div class="col-xs-9">
    <div class="row">
    <div class = "col-xs-6">
    <%= attachment_image_tag @owner, :profile_image, fallback: "no_image.jpg", size:'230x170'  %><br>
    <div id="follow_owner_<%= @owner.id %>">
    <%= render "relationships/follow_owner", owner: @owner %>
    </div>
    <table class="table .table-borderless">
    <tr id="follow_count_<%= @owner.id %>">
    <%= render "relationships/follow_count_owner", owner: @owner %>
    </tr>
    <tr>
    <th>名前</th>
    <td><%= @owner.owner_name %></td>
    </tr>
    <tr>
    <th>名前（カナ）</th>
    <td><%= @owner.owner_name_kana %></td>
    </tr>
    <tr>
    <th>メールアドレス</th>
    <td><%= @owner.email %></td>
    </tr>
    <% if admin_signed_in? %>
    <tr>
    <th>ユーザーステータス</th>
    <td>
    <%= form_for @owner, url: owner_path(@owner), method: :patch do |f| %>
    <%= f.radio_button :is_active, :true, checed:true %>
    <%= f.label :有効 %>
    <%= f.radio_button :is_active, :false %>
    <%= f.label :無効 %>
    <%= f.submit "更新", class: "btn btn-primary",style: "margin-left:13px"%>
    <% end %></td>
    </tr>
    <% end %>
    </table>
    </div>
    <div class = "col-xs-6">
    <h4>広告拠点</h4>
    <div id ="map"></div>
    <script>
    var map;
    function initMap(){
    var lat_lng ={ lat: <%= @owner.latitude %>, lng: <%= @owner.longitude %>}

    map = new google.maps.Map(document.getElementById('map'), {
    center: lat_lng,
    zoom: 12,
    });
    marker = new google.map.Marker({
    position: lat_lng,
    map: map
    });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap", async: true, defer: true)) ></script>
    </div>
    </div>

      <div class="col-xs-3">
    <% if ad_client_signed_in? %>
    <%= render 'ad_clients/profile' , ad_client: current_ad_client %>
    <%= render 'ad_clients/sidebar' , ad_client: current_ad_client %>
    <% elsif owner_signed_in?%>
    <%= render 'owners/profile' , owner: current_owner %>
    <%= render "owners/sidebar", owner: current_owner %>
    <% end %>
    </div>

    
    </div>
    </div>