    <div class="row">
    <div class="col-xs-9">
    <h2>  Follow list</h2>
    <table class="table">
    <thead>
    <tr>
    <th></th>
    <th></th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    <% @followings.each do |owner| %>
    <tr>
    <td><%= attachment_image_tag owner, :profile_image, fallback: "no-image-mini.jpg",size:'100x100' %></td>
    <td><%= owner.owner_name %></td>
    <td><%= link_to "Show", owner, class: "owners_#{owner.id}" %></td>
    </tr>
    <%end %>
    </tbody>
    </table>
    </div>

       <div class="col-xs-2">
    <!-- プロフィール -->
    <% if ad_client_signed_in? %>
    <%= render 'ad_clients/profile', ad_client: current_ad_client %>
    <%= render 'ad_clients/sidebar', ad_client: current_ad_client %>
    <% elsif owner_signed_in?%>
    <%= render 'owners/profile', owner: current_owner %>
    <%= render "owners/sidebar", owner: current_owner %>
    <% end %>
    </div>
    </div>