    <div class="row">
    <div class="col-md-3">
    <!-- プロフィール -->
    <% if ad_client_signed_in? %>
    <%= render 'ad_clients/profile', ad_client: current_ad_client %>
    <%= render 'ad_clients/sidebar', ad_client: current_ad_client %>
    <% elsif owner_signed_in?%>
    <%= render 'owners/profile', owner: current_owner %>
    <%= render "owners/sidebar", owner: current_owner %>
    <% end %>
    </div>
    <div class="col-xs-8">
    <% if @model == 'ad' %>
    <%= render 'ads/index', ads: @records %>
    <% elsif @model == 'ad_client' %>
    <%= render 'ad_clients/index', ad_clients: @records %>
    <% end %>
    </div>
    </div>